<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main class="row main-center home">
        <div class="col-10 col-md-8 col-lg-6">
            <form id="perfectTone" action="" method="post">
                
                <div id="slide-1" class="question-wrapper">
                    <p class="title">Encontrá tu Tono Perfecto</p>
                    <div class="row main-center">
                        <div class="col-6 col-md-5">
                            <div class="square">
                                <figure>
                                    <picture>
                                        <source srcset="/images/heart-icon.webp" type="image/webp">
                                        <source srcset="/images/heart-icon.png" type="image/png"> 
                                        <img src="/images/heart-icon.png" alt="icono corazón">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <p class="content">¿Rojo o rubio? ¿Cómo me quedará? ¿Y si no me gusta? Las decisiones sobre nuestro estilo y particularmente sobre nuestro cabello pueden ser difíciles. Por eso desarrollamos este cuestionario que pone a tu alcance tecnología de avanzada para guiarte en la elección de tu Tono Perfecto.</p>
                            <p class="content-em">¡Animate y hacé click!, queremos recorrer junto a vos este maravilloso proceso de encontrar <span class="content-extra-em">tu propia idea de belleza.</span></p>
                        </div>
                    </div>
                </div>

                <div id="slide-2" class="question-wrapper">
                    <p class="question-title">Empecemos con lo más importante, ¿cómo te llamás?</p>
                    <section class="question">
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="Nombre" class="border-shadow">
                        </div>
                        <div class="form-group">
                            <input type="email" id="email" name="email" placeholder="Correo Electrónico" class="border-shadow">
                        </div>
                    </section>
                    <span></span>
                </div>

                <div id="slide-3" class="question-wrapper">
                    <p class="question-title">¿Tenés el cabello teñido?</p>
                    <!-- ANSWER dyed hair -->
                    <input id="dyedAnswer" type="hidden" name="dyedAnswer" value="">
                    <section class="question light-bg">
                        <div class="row main-center">
                            <div class="col-12 col-md-3 square-radio yes border-shadow">
                                <label>si<input type="radio" value="yes"></label>
                            </div>
                            <div class="col-12 col-md-3 square-radio no border-shadow">
                                <label>no<input type="radio" value="no"></label>
                            </div>
                        </div>
                    </section>
                    <span></span>
                </div>

                <div id="slide-4" class="question-wrapper">
                    <p class="question-title">¿Cuál es el tono de color que usás actualmente?</p>
                    <section class="question">
                        <div class="row cross-center main-center">
                            <div class="col-12 col-md-5">
                                <p class="content">Elige en la siguiente pantalla el color que más se asemeje a la parte media de tu cabello. Si tenés el cabello corto concéntrate en las puntas y no en las raíces.</p>
                            </div>
                            <div class="col-12 col-md-5">
                                <figure class="question-help">
                                    <picture>
                                        <source srcset="/images/mid.webp" type="image/webp">
                                        <source srcset="/images/mid.png" type="image/png"> 
                                        <img src="/images/mid.png" alt="tonos medios">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </section>
                </div>

                <div id="slide-5" class="question-wrapper">
                    <p class="question-title">¿Cuál es el tono de color que usás actualmente?</p>
                    <!-- ANSWER current tone -->
                    <input id="currentTone" type="hidden" name="currentTone" value="">
                    <section class="question light-bg">
                        <% Object.keys(currentTones).forEach(toneFamily => { %>
                            <span><%= toneFamily %></span>
                            <div class="row nowrap slider">
                                <% currentTones[toneFamily].forEach(tone => { %>
                                    <div class="col-5 col-md-4 col-lg-3 slide">
                                        <article class="tone">
                                            <input type="button" class="current answer-btn" value="<%= tone.id %>"></input>
                                            <figure>
                                                <picture>
                                                    <source srcset="/images/tones/<%= tone.img %>.webp" type="image/webp">
                                                    <source srcset="/images/tones/<%= tone.img %>.jpeg" type="image/jpeg"> 
                                                    <img class="border-shadow" src="/images/tones/<%= tone.img %>.jpeg" alt="tono actual">
                                                </picture>
                                                <figcaption>
                                                    <span><%= tone.text %> (<%= tone.id %>)</span>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                <% }) %>
                            </div>
                        <% }) %>
                    </section>
                    <span></span>
                </div>
                
                <div id="slide-6" class="question-wrapper">
                    <p class="question-title">¿Cuál es tu tono de color natural en las raíces?</p>
                    <section class="question">
                        <div class="row main-center cross-center">
                            <div class="col-12 col-md-5">
                                <p class="content">Elige en la siguiente pantalla el color que más se asemeje a tu color natural. Si tenés canas, deberás indicar el color que se encuentran entre los cabellos grises.</p>
                            </div>
                            <div class="col-12 col-md-5">
                                <figure class="question-help">
                                    <picture>
                                        <source srcset="/images/roots.webp" type="image/webp">
                                        <source srcset="/images/roots.png" type="image/png"> 
                                        <img src="/images/roots.png" alt="tonos raíces" />
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </section>
                </div>
                
                <div id="slide-7" class="question-wrapper">
                    <p class="question-title">¿Cuál es tu tono de color natural en las raíces?</p>
                    <!-- ANSWER natural tone -->
                    <input id="naturalTone" type="hidden" name="naturalTone" value="">
                    <section class="question light-bg">
                        <% Object.keys(naturalTones).forEach(toneFamily => { %>
                            <span><%= toneFamily %></span>
                            <div class="row nowrap slider">
                                <% naturalTones[toneFamily].forEach(tone => { %>
                                    <div class="col-5 col-md-4 col-lg-3 slide">
                                        <article class="tone">
                                            <input type="button" class="natural answer-btn" value="<%= tone.id %>"></input>
                                            <figure>
                                                <picture>
                                                    <source srcset="/images/tones/<%= tone.img %>.webp" type="image/webp">
                                                    <source srcset="/images/tones/<%= tone.img %>.jpeg" type="image/jpeg"> 
                                                    <img class="border-shadow" src="/images/tones/<%= tone.img %>.jpeg" alt="tono natural">
                                                </picture>
                                                <figcaption>
                                                    <span><%= tone.text %> (<%= tone.id %>)</span>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                <% }) %>
                            </div>
                        <% }) %>
                    </section>
                    <span></span>
                </div>
                
                <div id="slide-8" class="question-wrapper">
                    <p class="question-title">¿Cuál es el resultado que estás esperando lograr?</p>
                    <p class="content">Mientras más puedas decirnos acerca de lo que esperas lograr, mejor podremos ayudarte.</p>
                    <!-- ANSWER desired tone -->
                    <input id="desiredTone" type="hidden" name="desiredTone" value="">
                    <section class="question">
                        <div class="row">
                            <% desired.forEach(desiredTone => { %>
                                <div class="col-6 col-md-3">
                                    <article class="option">
                                        <input type="button" class="desired answer-btn" value="<%= desiredTone.value %>"></input>
                                        <figure>
                                            <picture>
                                                <source srcset="/images/<%= desiredTone.img %>.webp" type="image/webp">
                                                <source srcset="/images/<%= desiredTone.img %>.png" type="image/png"> 
                                                <img class="border-shadow p5" src="/images/<%= desiredTone.img %>.png" alt="tono deseado">
                                            </picture>
                                            <figcaption>
                                                <span><%= desiredTone.text %></span>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            <% }) %>
                        </div>
                    </section>
                    <span></span>
                </div>
                
                <div id="slide-9" class="question-wrapper">
                    <p class="question-title">¿Cuál es el porcentaje de canas en tus raíces?</p>
                    <p class="content">Si no podés decidir entre dos valores, seleccionar el más alto para alcanzar mejores resultados.</p>
                    <!-- ANSWER grey hairs -->
                    <input id="greyHair" type="hidden" name="greyHair" value="">
                    <section class="question light-bg">
                        <div class="row">
                            <% greys.forEach(grey => { %>
                                <div class="col-6 col-md-3">
                                    <article class="option">
                                        <input type="button" class="grey-hair answer-btn" value="<%= grey.value %>"></input>
                                        <figure>
                                            <picture>
                                                <source srcset="/images/greys/<%= grey.img %>.webp" type="image/webp">
                                                <source srcset="/images/greys/<%= grey.img %>.jpeg" type="image/jpeg"> 
                                                <img class="border-shadow" src="/images/greys/<%= grey.img %>.jpeg" alt="porcentaje de canas">
                                            </picture>
                                            <figcaption>
                                                <span><%= grey.text %></span>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            <% }) %>
                        </div>
                    </section>
                    <span></span>
                </div>

                <div id="slide-10" class="question-wrapper">
                    <p class="question-title">¿Qué sutiles reflejos o matices de color te gustaría se vean en tu cabello?</p>
                    <!-- p class="content">El color del cabello se percibe de manera multidimensional, ya que no es plano.</p -->
                    <!-- ANSWER reflex -->
                    <input id="reflex" type="hidden" name="reflex" value="">
                    <section class="question light-bg">
                        <div id="reflex-tpl" class="col-6 col-md-4 col-lg-3">
                            <article class="tone">
                                <input type="button" class="reflex-btn answer-btn" value=""></input>
                                <figure>
                                    <picture>
                                        <source srcset="" type="image/webp">
                                        <source srcset="" type="image/jpeg"> 
                                        <img class="border-shadow" src="" alt="imagen de reflejo">
                                    </picture>
                                    <figcaption>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div id="reflex-root" class="row"></div>
                    </section>
                    <span></span>
                </div>

                <div id="slide-11" class="question-wrapper">
                    <div class="row main-center">
                        <div class="col-12">
                            <p class="answer-title"></p>
                            <p class="content">Cobeauty está calculando Tu Tono Perfecto basándose en tus selecciones...</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <figure>
                                <object type="image/svg+xml" data="images/bot-cobeauty.svg">
                                    <img src="/images/bot-cobeauty.svg" alt="bot cobeauty">
                                </object>
                            </figure>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/main.js"></script>
</body>
</html>