<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main class="row main-center">
        <div class="col-md-8 col-lg-6">
            <p class="question-title">Basándonos en tus selecciones, Cobeauty te recomienda</p>
                <section class="result">
                    <p>Nombre: <%= result.name %></p>
                    <p>Teñido: <%= result.dyed %></p>
                    <p>Tono actual: <%= result.currentTone %></p>
                    <p>Tono natural: <%= result.naturalTone %></p>
                    <p>Tono deseado: <%= result.desiredTone %></p>
                    <p>Canas: <%= result.greyHair %></p>
                    <p>Reflejo: <%= result.reflex %></p>
                </section>
                <div class="btn-group">
                    <input id="greyHair" type="hidden" name="greyHair" value="">
                    <a class="btn btn-text" href="http://cobeauty.store">Cobeauty</a>
                    <a class="btn btn-icon" href="http://cobeauty.store"><i class="icon-right"></i></a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>