<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoBeauty - Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/rules">Reglas</a></li>
        </ul>
      </nav>
      <main class="results">
        <h1>Tu Tono Perfecto</h1>
        <h2>Basado en su selección:</h2>
        <ul>
          <li><b>Teñido: </b><span class="selection"><%= q1 %></span></li>
          <li><b>Tono en medios: </b><span class="selection"><%= q2 %></span></li>
          <li><b>Tono en raíces: </b><span class="selection"><%= q3 %></span></li>
          <li><b>Resultado deseado: </b><span class="selection"><%= q4 %></span></li>
          <li><b>Reflejos esperados: </b><span class="selection"><%= q5 %></span></li>
        </ul>
        <h2>CoBeauty sugiere:</h2>
        <div class="products">
          <ul>
            <% for( let index = 0; index < products.length; index++ ) { %>
              <li>
                <b>Opción <%= index+1 %>: </b>
                <span class="product"><%= products[index] %></span>
              </li>
            <% } %>
          </ul>
        </div>
        <div class="actions">
          <a href="/" type="reset">Reiniciar</a>
        </div>
      </main>
    </div>
  </body>
</html>
